.env
venv/
app/__pycache__/
app/bookings/__pycache__/
app/dao/__pycache__/
app/hotels/__pycache__/
app/migrations/__pycache__/
app/rooms/__pycache__/
app/users/__pycache__/
app/pages/__pycache__/
app/images/__pycache__/
app/pages/__pycache__/